{% extends "blog/base.html"%}
{% block content %}
    <main>
        <h1>About page!</h1>
        <p></p>
        <p>
            I am reporting specialist who felt in love with programming. <br>
            I spend my free time on diving a little bit into but it is really hard,<br>
            especially when the weather outside is sunny.

            <!--: 16px;style="vertical-align:right;margin:0px 200px">
        -->

        <div> <img align="right" src="https://thumbs.dreamstime.com/z/mountain-river-flows-woods-rocks-selective-focus-136731029.jpg"
            alt="River in the mountain" width="300" height="400" ></div>
        <h2>Lala</h2>
            <p>
                <a href="https://www.juvepoland.com">Click here</a>
            </p>
    </main>
{% endblock content%}
