{% extends "blog/base.html"%}
{% block content %}
    <!-- <style>
        #content {
            position: relative;
        }
        #content img {
            position: absolute;
            top: -100px;
            right: 0px;
        }
    </style>-->
    <main>

        <h1>About page!</h1>
        <p></p>
        <p class="text-sm-left">I am reporting specialist who felt in love with programming.</p>
        <p class="text-sm-left"> spend my free time on diving a little bit into but it is really hard,</p>
        <p class="text-sm-left"> especially when the weather outside is sunny.</p>

                <!--: 16px;style="vertical-align:right;margin:0px 200px">
            -->

        <div id="content"> <img src="/media/default.jpg"
            alt="River in the mountain" width="300" height="400" ></div>
        <h2>Lala</h2>
            <p>
                <a href="https://www.juvepoland.com">Click here</a>
            </p>
    </main>
{% endblock content%}
